1. Develop a function that takes input: (String: planet, Float: weight in pounds) of object on Earth.  Returns float: kilos of object on that planet

In [1]:
# Define a dictionary data
data = {"Sun" : 27.01, "Mercury" : 0.38,
        "Venus" : 0.91, "Moon" : 0.166,
        "Mars" : 0.38, "Jupiter" : 2.34,
        "Saturn" : 1.06, "Uranus" : 0.92,
        "Neptune" : 1.19, "Pluto" : 0.6}

# A function that returns weight in kilos
def my_func(planet:str, number:float):
  for key, value in data.items():
    try:
      number = float(number)                      # convert number to float
      planet = planet.capitalize()                # change planet to capitalization
      if key == planet and value == number:
        # 1 pound = 0.453592 kilogram
        number_kilos = number*0.453592
        break
      elif key == planet and value != number:
        number_kilos = value*0.453592
        break
      elif key != planet and value == number:
        number_kilos = number*0.453592
        planet = key
        break
        print("Planet not found")
    except ValueError:
      return "Invalid input: reqiures integer or float"
  return f"Planet: {planet} Kilos: {number_kilos}"

Display at least 3 tests with various arguments.

In [2]:
print(my_func("sun", 27.01))
print("----------------------")
print(my_func("Moon", 0.166))
print("----------------------")
print(my_func("Neptune", 1.19))
print("----------------------")
print("Try with input error output")
print(my_func("Nep", 27.01))
print("----------------------")
print(my_func("Neptune", "bhhhg"))
print("----------------------")

Planet: Sun Kilos: 12.25151992
----------------------
Planet: Moon Kilos: 0.075296272
----------------------
Planet: Neptune Kilos: 0.53977448
----------------------
Try with input error output
Planet: Sun Kilos: 12.25151992
----------------------
Invalid input: reqiures integer or float
----------------------

2. Create a class and objects as described

In [3]:
# Create the product class
class Product:
    """

    Attributes:
      name:
      price:
      quantity:
    """
    # A constructor that initializes the attributes
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity

    # Increase the quantity of the product by the given amount
    def restock(self, amount):
        if amount > 0:
            self.quantity += amount
            print(f"Restock {amount} New {self.name}: {self.quantity} left")
        else:
            print("Restock amount must be positive.")
    # Decrease the quantity by the given amount if there is enough stock
    def sell(self, amount):
        if amount > self.quantity:
            print("Insufficient stock.")
        elif amount <= 0:
            print("sell amount must be positive.")
        else:
            self.quantity -= amount
            print(f"Sold {amount} New {self.name}s, {self.quantity} left")

    def get_quantity(self):
        return self.quantity

    # return a string representation of the product, including its name, price, and quantity.
    def __str__(self):
        return f"Product Name: {self.name}\nPrice: ${self.price}\nQuantity: {self.quantity}"


product_1 = Product("Laptop", 1200, 10)
print(f"Product 1\n{product_1}")
product_1.sell(3)
print("-----------------------")
product_2 = Product("Smartphone", 800, 25)
print(f"Product 2\n{product_2}")
product_2.sell(5)
print("-----------------------")
product_3 = Product("Headphones", 150, 50)
print(f"Product 3\n{product_3}")
product_3.restock(30)

Product 1
Product Name: Laptop
Price: $1200
Quantity: 10
Sold 3 New Laptops, 7 left
-----------------------
Product 2
Product Name: Smartphone
Price: $800
Quantity: 25
Sold 5 New Smartphones, 20 left
-----------------------
Product 3
Product Name: Headphones
Price: $150
Quantity: 50
Restock 30 New Headphones: 80 left

3. Load the auto.csv file from Electronic Reserves as a data frame called df_auto_1
- Display the first 20 records of the data frame.
- Explore documentation and find a pandas method that would display the column names (a.k.a. axis 1) of the data frame. Display the column names
- Identify and deal with by dropping a row (axis 0) where any missing data is found (NaN)
- Hint:  explore the pandas Dataframe.dropna() library method.  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [4]:
# Import all the necessary libraries
import pandas as pd
import numpy as np

In [5]:
# Load data
df_auto_1 = pd.read_csv("sample_data/Auto.csv")
# Display the first 20 rows
df_auto_1.head(20)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95.0,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97.0,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85.0,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88.0,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan

In [6]:
# Displaying columns names
df_auto_1.columns.tolist()

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'year',
 'origin',
 'name']

In [7]:
# Checking data info
df_auto_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           397 non-null    float64
 1   cylinders     397 non-null    int64
 2   displacement  396 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        397 non-null    int64
 5   acceleration  397 non-null    float64
 6   year          397 non-null    int64
 7   origin        397 non-null    int64
 8   name          397 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.0+ KB

In [8]:
# Finding missing values
df_auto_1.isnull().sum()

mpg             0
cylinders       0
displacement    1
horsepower      5
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

In [9]:
# Dropping all null values
df_auto_1.dropna(inplace=True)

In [10]:
# checking data info
df_auto_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 391 entries, 0 to 396
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           391 non-null    float64
 1   cylinders     391 non-null    int64
 2   displacement  391 non-null    float64
 3   horsepower    391 non-null    float64
 4   weight        391 non-null    int64
 5   acceleration  391 non-null    float64
 6   year          391 non-null    int64
 7   origin        391 non-null    int64
 8   name          391 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 30.5+ KB

In [11]:
# Finding missing values
df_auto_1.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
year            0
origin          0
name            0
dtype: int64

4. What is the mean AND standard deviation of the column cylinders?  Also, use a method to display basic descriptive statistics of all columns.  Show code and answer.

In [12]:
# Display basic descriptive statistics of all columns
df_auto_1.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,391.0,23.472634,7.797040,9.0,17.25,23.0,29.00,46.6
cylinders,391.0,5.465473,1.703152,3.0,4.00,4.0,8.00,8.0
displacement,391.0,193.886189,104.258298,68.0,105.00,151.0,264.50,455.0
horsepower,391.0,104.250639,38.295726,46.0,75.00,93.0,125.00,230.0
weight,391.0,2973.890026,847.331934,1613.0,2224.50,2800.0,3611.00,5140.0
acceleration,391.0,15.549105,2.758092,8.0,13.80,15.5,17.05,24.8
year,391.0,75.989770,3.682933,70.0,73.00,76.0,79.00,82.0
origin,391.0,1.578005,0.806020,1.0,1.00,1.0,2.00,3.0

In [13]:
# The general statistics for cylinders' column
stat = df_auto_1.cylinders.describe()
stat.iloc[1:3]

mean    5.465473
std     1.703152
Name: cylinders, dtype: float64

In [14]:
# Another approach
stat.loc[["mean", "std"]]

mean    5.465473
std     1.703152
Name: cylinders, dtype: float64

In [15]:
# Another approach
print(f"The mean for cylinders is: {df_auto_1.cylinders.mean()}")
print(f"The mean for cylinders is: {df_auto_1.cylinders.std()}")

The mean for cylinders is: 5.465473145780051
The mean for cylinders is: 1.7031523468511836

5. Use iloc to create a new dataframe called df_auto_2 of the 10th through but not including the 20th row and the 2nd though last column.  Display results.
- Hint: iloc returns rows and columns that meet a condition based on index location [start_row:end_row, start_column:end_column].  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html#pandas.DataFrame.iloc
- For example:  df2 = df1.iloc[0:20, 3:] provides rows 0-19 and the 3rd through last columns of a dataset.

In [16]:
# 10th through but not including the 20th row and the 2nd though last column.
df_auto_1.iloc[10:20, 2:]

,displacement,horsepower,weight,acceleration,year,origin,name
10,383.0,170.0,3563,10.0,70,1,dodge challenger se
11,340.0,160.0,3609,8.0,70,1,plymouth 'cuda 340
12,400.0,150.0,3761,9.5,70,1,chevrolet monte carlo
13,455.0,225.0,3086,10.0,70,1,buick estate wagon (sw)
14,113.0,95.0,2372,15.0,70,3,toyota corona mark ii
15,198.0,95.0,2833,15.5,70,1,plymouth duster
16,199.0,97.0,2774,15.5,70,1,amc hornet
17,200.0,85.0,2587,16.0,70,1,ford maverick
18,97.0,88.0,2130,14.5,70,3,datsun pl510
19,97.0,46.0,1835,20.5,70,2,volkswagen 1131 deluxe sedan

6. Using loc, find out which employees belong to the department 101

In [17]:
# Create a dictionary with a variable name, employees
employees = {
    'EmployeeID': [1, 2, 3, 4, 5],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'DepartmentID': [101, 102, 101, 103, 102]}

# Load employees dictionary data with pandas
df_employees = pd.DataFrame(employees)

In [18]:
#  find out which employees belong to the department 101 approach 1
data_loc = df_employees.loc[df_employees["DepartmentID"] == 101]
print(f"filtering with loc:\n{data_loc}")
print("---------------------------------------------------------")

# Approach 2
data = df_employees[df_employees["DepartmentID"] == 101]
print(f"filtering with an operator:\n{data}")
print("---------------------------------------------------------")

filtering with loc:
   EmployeeID Employee  DepartmentID
0           1    Alice           101
2           3  Charlie           101
---------------------------------------------------------
filtering with an operator:
   EmployeeID Employee  DepartmentID
0           1    Alice           101
2           3  Charlie           101
---------------------------------------------------------